{% extends "layout.html" %}

{% block title %}
  account
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='form-content.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
{% endblock %}

{% block content %}
  <div class="dashboard">
    <div class="media">
      <img src="{{ img_file }}">
      <div class="media-content">
        <h2>{{ current_user.username }}</h2>
        <p>{{ current_user.email }}</p>
        <a href="{{ url_for('posts.post') }}"><button id="submit">New Post</button></a>
      </div>
    </div>
    <div id="options">
      <button id="submit">Update Info</button>
      <button id="submit">Change Password</button>
    </div>
  </div>
{% endblock %}

{% block modals %}
<!-- Update Account info -->
<div class="modal-bg" id="update">
  <div class="modal">
    <div class="form-content">
      <form method="POST" enctype="multipart/form-data">
        <button class="close2">
          <span class="icon2">&times;</span>
        </button>
        {{ update_form.hidden_tag() }}
        <fieldset class="outline">
          <legend>Update info</legend>
          <div class="form-item">
            {{ update_form.username.label() }}
            <br>
            {% if update_form.username.errors %}
              {{ update_form.username(autocomplete="off", class="invalid") }}
              <div class="feedback">
                {% for error in update_form.username.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ update_form.username(autocomplete="off") }}  
            {% endif %}
          </div>

          <div class="form-item">
            {{ update_form.email.label() }}
            <br>
            {% if update_form.email.errors %}
              {{ update_form.email(autocomplete="off", class="invalid") }}
              <div class="feedback">
                {% for error in update_form.email.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ update_form.email(autocomplete="off") }}  
            {% endif %}
          </div>

          <div class="form-item">
            {{ update_form.picture.label() }}
            {{ update_form.picture }}
            {% if update_form.picture.errors %}
              <div class="feedback">
                {% for error in update_form.picture.errors %}
                  <span>{{ error }}</span>
                  <br>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <br>
          <div class="form-item">
            {{ update_form.submit1(id="submit") }}
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<!-- Update Password -->
<div class="modal-bg" id="password">
  <div class="modal">
    <div class="form-content">
      <form method="POST" enctype="multipart/form-data">
        <button class="close2">
          <span class="icon2">&times;</span>
        </button>
        {{ pswd_form.hidden_tag() }}
        <fieldset class="outline">
          <legend>Change Password</legend>
          <div class="form-item">
            {{ pswd_form.current_password.label() }}
            <br>
            {% if pswd_form.current_password.errors %}
              {{ pswd_form.current_password(autocomplete="off", class="invalid") }}
              <div class="feedback">
                {% for error in pswd_form.current_password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ pswd_form.current_password(autocomplete="off") }}  
            {% endif %}
          </div>

          <div class="form-item">
            {{ pswd_form.new_password.label() }}
            <br>
            {% if pswd_form.new_password.errors %}
              {{ pswd_form.new_password(autocomplete="off", class="invalid") }}
              <div class="feedback">
                {% for error in pswd_form.new_password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ pswd_form.new_password(autocomplete="off") }}  
            {% endif %}
          </div>

          <div class="form-item">
            {{ pswd_form.confirm_password.label() }}
            <br>
            {% if pswd_form.confirm_password.errors %}
              {{ pswd_form.confirm_password(autocomplete="off", class="invalid") }}
              <div class="feedback">
                {% for error in pswd_form.confirm_password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ pswd_form.confirm_password(autocomplete="off") }}  
            {% endif %}
          </div>

          <br>
          <div class="form-item">
            {{ pswd_form.submit2(id="submit") }}
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='options.js') }}"></script>
{% endblock %}