{% extends "layout.html" %}

{% block title %}
  home
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='form-content.css') }}">
{% endblock %}

{% block content %}
  <article>
    <div>
      <div class="article-metadata">
        <img src="{{ url_for('static', filename='/profilepics/' + post.author.image_file) }}">
        <h2 style="color: #365363;">{{ post.title }}</h2>
        <p style="color: #365363;">Posted by <strong><a href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a></strong> on <small>{{ post.date_posted.strftime('%Y-%m-%d') }}</small></p>
        {% if post.author == current_user %}
          <div class="manipulate">
            <a href="{{ url_for('update_post', post_id=post.id) }}"><Button class="info-btn">Update</Button></a> 
            <a href="{{ url_for('delete_post', post_id=post.id) }}"><button class="danger-btn">Delete</button></a> 
          </div>
        {% endif %}
      </div>
      <p>{{ post.content }}</p>
    </div>
  </article>
{% endblock %}