{% extends "layout.html" %}

{% block title %}
  reset_password
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='form-content.css') }}">
{% endblock %}

{% block content %}
  <div class="form-content">
    <form method="POST">
      {{ form.hidden_tag() }}
      <fieldset class="outline">
        <legend>Reset Password</legend>
        <div class="form-item">
          {{ form.password.label() }}
          <br>
          {% if form.password.errors %}
            {{ form.password(autocomplete="off", class="invalid") }}
            <div class="feedback">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(autocomplete="off") }}  
          {% endif %}
        </div>
        <br>
        <div class="form-item">
          {{ form.confirm_password.label() }}
          <br>
          {% if form.confirm_password.errors %}
            {{ form.confirm_password(autocomplete="off", class="invalid") }}
            <div class="feedback">
              {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.confirm_password(autocomplete="off") }}  
          {% endif %}
        </div>
        <br>
        <div class="form-item">
          {{ form.submit(id="submit") }}
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}